body
{
	
	
background-color: #303030;

font-family: 'Lato', sans-serif;
}


#container
{
	width: 1000px;
	
	margin-left: auto;
	margin-right: auto;

}


#logo
{
	color: white;
	margin-top: 20px;

	font-size: 44px;
	letter-spacing: 3px;
	font-weight: 900;

}

#menu

{
	background: #FFBF00;
	margin-top: 10px;
	
color: black;
	padding: 8px; 
	letter-spacing: 0.8px;

	
}

#topbar

{
	background: #14ada0;
	color: black;
	padding: 10px;
	margin-top: 20px;

	margin-bottom: 25px;
	font-weight: 900;
	height: 180px;
	
}

#topbarL
{
	float: left;
	margin-right:20px;
	border-right: 2px dotted white;
	width: 180px;

	
}

#topbarR
{
	float: left;
	
	text-align: justify;

}

#sidebar
	
{
	float: left;
	width: 150px;
	min-height: 554px;
	padding: 20px;
	background-color: #ccff00;

	
color: black;
	text-align: center;
	font-size: 18px;
	border-right: 2px, dotted #666666;
	
	
}

#content

{
	float: left;
	padding-top:40px;
	padding-left: 40px;
	padding-right: 40px;

	min-height: 554px;
width: 730px;
	background-color: #dedede;
	
	text-align: justify;
}



#footer

{
	padding: 20px;
	clear: both;
	color: white;
	
	font-size: 18px;
	
	
text-align: center;
}

.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size:18px;
	padding: 10px;
	border-right: 2px dotted blue;
	opacity: 0.8;
	font-weight: 900;

	
}

.option:hover
{
	background-color: #cc182a;
	cursor:pointer;
	
}

.optionL
{
	font-size: 18px;
	height: 25px;
	padding: 10px;
	border-bottom: 2px dotted #444444
}
.optionL:hover
{

	background-color: #f36742;
	color: white;
	cursor: pointer;
}

.bigtitle
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 3.5px;
}

a.hiper
{
	color: black;
	text-decoration: none;
}